<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add Flat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    <title>Meow Grocery Store</title>
</head>
<body style="background-color:#d2f1fa;">

<nav class="navbar navbar-expand-sm me-auto" style="background-color: #2ff5c0;">
      <div class="container-fluid" >
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="120" height="90" class="d-inline-block align-text-top">
                </a>
              </li>
          </ul>

              <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active lg-col-2" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Russo One;color:black">
                        Клиенты
                    </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="{% url 'basic_app:add_client' %}">Добавить</a></li>
                    <li><a class="dropdown-item" href="{% url 'basic_app:find_client' %}">Поиск</a></li>
                </ul>

              </div>

              <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active lg-col-2" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Russo One; color:black">
                        Квартиры
                    </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="{% url 'basic_app:add_flat' %}">Добавить</a></li>
                    <li><a class="dropdown-item" href="{% url 'basic_app:flats' %}">Список</a></li>
                </ul>

              </div>



          {% if user.is_authenticated %}
          <div class="ms-auto">
              <ul class="container navbar-nav">
                  <a class="nav-link active" href="{% url 'basic_app:logout' %}" style="font-family: Russo One;">Выйти</a>
              </ul>
          </div>
          {% else %}
          <div class="ms-auto">
              <ul class="container navbar-nav mx-auto">
                  <a class="nav-link active" href="{% url 'basic_app:login' %}" style="font-family: Russo One;">Войти</a>
              </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block content %}

    {% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>