{% extends 'basic_app/html/base_b.html' %}

{% block content %}
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Бонусная программа №1. Процент от платежа.</h1>
        <p>Текущее значение: <strong>5%</strong> от платежа</p>
        <form action="">
            <input type="number" placeholder="5" style="width: 10%;;">
            <input type="submit" class="btn btn-secondary" style="background-color: #5bc4fc;margin-left: 10px; margin-bottom: 3px;" value="Применить">
        </form>
      </div>

{% endblock %}